{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block Contenido %} 

<div class="row align-items-md-stretch">
    <center>
        <p class="animate__animated animate__pulse animate__infinite"
        style="font-family: 'Calibri', sans-serif; font-size: 50px; ">UNIVERSIDAD NACIONAL DE LOJA</p>
        <br>
        <br>
        <h3>MAESTRIA EN INGENIERIA EN SOFTWARE</h3>
        <br>
        <br>
    </center>

    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Sitio Administrativo de Vivienda y Financiamiento VIVENTO</h2>
            <p>Administración de Empleados.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>INTEGRANTES:</h2>
            <ul>
                <li> Janneth Guamán</li>
                <li> Lenin Quizhpe </li>
                </ul>
            <img src="" alt="">
        </div>
    </div>
</div>

{% endblock %}