{% extends "base.html" %}

{% block titulo %} Agregar nuevo empleado {% endblock %}

{% block Contenido %} 

<div class="card">
    <div class="card-header">
        Crear un empleado
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del empleado</h4>
        {{formulario.as_p}}
    </div>

    <div class="card-footer text-muted">
        <input name="" id="" class="btn btn-success" type="submit" value="Guardar Información" href="{% url 'crearEmpleado' %}">
        <a name="" id="" class="btn btn-primary" href="{% url 'empleados' %}" role="button">Cancelar</a>
    </div>
</div>

{% endblock %}